Q1. What are the characteristics of the tuples? Is tuple immutable?

Characteristics of tuples are as follows-

1. They are always stored in an ordered format.

2. Tuples are immutable in nature, you cannot change elements once created nor can you modify.

3. Tuples can store data of multiple data types like strings, int, float,etc.

4. Tuples can contain duplicate values.

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

In [1]:
# method one - count() - to return how many times a spceific element is repeated in a tuple

tuple1 = (1,2,2,4,5,5,6,3,3)
print(tuple1)

(1, 2, 2, 4, 5, 5, 6, 3, 3)

In [3]:
print(tuple1.count(2))

2

In [5]:
#method two - index() - returns the first index position of a specified element

print(tuple1.index(3))

7

Tuples are immutable in nature, while list on the other hand are mutable. Lists being mutable can be modified and hence there are more methods comapred to tuples.

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Sets dont allow duplicate items.
So we can convert a list into set to remove all the dupliacte values.

In [6]:
list1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [7]:
# convert to set and then back to a list
new_list = list(set(list1))
print(new_list)

[1, 2, 3, 4]

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

union() - this returns the entire collection of elements from both the sets passed to this method, - creates a new set

update() - this does not a new set, rather adds elements to the original set

In [21]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

In [22]:
result_set = set1.union(set2)
print(result_set)

{1, 2, 3, 4, 5, 6}

In [23]:
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictonaries are collection of data types stored in a key-value pairs.
A dictonary is mutable in nature hence can be edited or deleted.

In [24]:
student_info = {
    "name": "Ben",
    "age": 21,
    "major": "Maths",
    "grades": [88, 92, 79]
}

print(student_info)

{'name': 'Ben', 'age': 21, 'major': 'Maths', 'grades': [88, 92, 79]}

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

A nested dictonary is a dictonary within dictonary and can be created.

In [25]:
fruits = {
    "apple": {
        "color": "red",
        "price_per_pound": 1.2,
        "availability": "year-round"
    },
    "banana": {
        "color": "yellow",
        "price_per_pound": 0.5,
        "availability": "year-round"
    },
    "cherry": {
        "color": "red",
        "price_per_pound": 3.0,
        "availability": "summer"
    },
    "orange": {
        "color": "orange",
        "price_per_pound": 1.1,
        "availability": "winter"
    }
}

print(fruits)

{'apple': {'color': 'red', 'price_per_pound': 1.2, 'availability': 'year-round'}, 'banana': {'color': 'yellow', 'price_per_pound': 0.5, 'availability': 'year-round'}, 'cherry': {'color': 'red', 'price_per_pound': 3.0, 'availability': 'summer'}, 'orange': {'color': 'orange', 'price_per_pound': 1.1, 'availability': 'winter'}}

In [26]:
# lets check the price of cherries
print(fruits["cherry"]["price_per_pound"])

3.0

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [27]:
dict1 = {'language': 'Python', 'course': 'Data Science Masters'}

# Using setdefault() to add the 'topics' key with a list as its value
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [28]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [29]:
# the keys view
keys_view = dict1.keys()
print("Keys:", keys_view)

Keys: dict_keys(['Sport', 'Teams'])

In [30]:
# the values view
values_view = dict1.values()
print("Values:", values_view)

Values: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [31]:
#  the items view
items_view = dict1.items()
print("Items:", items_view)

Items: dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])